<header>
      <div class="chat-img-container" (click)="onOptionSelect(userIcon)">
        <ng-container *ngIf="asImage else NotFound">
          <img [src]="Transform(user.img)" alt="">
        </ng-container>
        <ng-template #NotFound>
          <mat-icon >account_circle</mat-icon>
        </ng-template>
      </div>
      
    <div class="icons-container">
      <mat-icon (click)="onOptionSelect(newChatIcon)">add_comment</mat-icon>
      
      <ng-container *ngIf="menuOptions.length > 0">
        <mat-icon class="menu-options" [matMenuTriggerFor]="chatMenu">more_vert</mat-icon>
        <mat-menu #chatMenu="matMenu" xPosition="before">
            <ng-container *ngFor="let option of menuOptions; let i=index">
            <button (click)="onOptionSelect(option)" mat-menu-item >
                <span>{{option.title}}</span>
            </button>
            </ng-container>
        </mat-menu>
      </ng-container>
    </div>
      
</header>