<div [formGroup]="form" class="input-container">
    <div class="form__group">
        <input 
        [id]="name"
        [toggleReadonly]="isReadOnly" 
        [type]="type" class="form__field"
        [placeholder]="placeholder" 
        [name]="name"
        [formControlName]="name"
        [autocomplete]="autocomplete"/>
        <label [for]="name" class="form__label">{{ label }}</label>
    </div>
    <ng-container *ngIf="enableRadonly">
        <button type="button"  (click)="isReadOnly = !isReadOnly">
            <mat-icon>edit</mat-icon>
        </button>
    </ng-container>
    
</div>
