.input-container {
  display: flex;
  align-items: flex-end;
  height: var(--main-input-field-height);
}
.form__group {
  display: flex;
  border-bottom: 2px solid var(--gray);
  align-items: center;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 80%;
  transition: border-color 0.2s;

  &:focus-within {
    border-color: var(--marker-color);
}
}
  
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: var(--gray);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    color: var(--marker-color); 
  }
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

button {
  border-radius: 50%;
  border: transparent;
  background: transparent;
}

mat-icon {
  cursor: pointer;
  color: var(--marker-color);
}

.icon-check {
  padding-inline-end: .5rem;
  box-sizing: content-box;
}