

<div class="auth-page">
  <ng-container *ngIf="isLoading else Auth">
    <div class="spinner-container" >
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-container>
  <ng-template #Auth>
    <div class="auth-component-container" >
      <div class="header-container" *ngIf="!isLoading">
        <div class="icon-container">
          <mat-icon class="icon">person_outline</mat-icon>
        </div>
        <h3 class="header"> {{ loadState? 'Log In': 'Register' }}</h3>

      </div>
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
      <div class="btn-container" *ngIf="!isLoading">
        <button
        class="btn main-btn"
        type="button"
        (click)="onSelectForm()"
        mat-raised-button>
          {{ loadState? 'Register' : 'LogIn'}}
        </button>
      </div>
    </div>
  </ng-template>
</div>
