<mat-sidenav-container style="height: 100%;" (click)="FocusOnChat()">
  <mat-sidenav class="sidenav" position="end" #chatSideNav mode="side">
    
      <section style="height: 100%;">
        <app-dynamic-component [componentRef]="sidenavComponentRef"></app-dynamic-component>
      </section>
    
  </mat-sidenav>

  <mat-sidenav-content>
    <main id="chat" class="chat-container main-background-img" >
      <app-header [menuOptions]="menuOptions" [title]="selectedChat.name" [componentRef]="componentRef"></app-header>
      <section id="msgs-container" class="messages-container msgs" *ngIf="!isLoading else ShowSpinner">
        <div id="chat-top-indicator"></div>
        <ng-container *ngFor="let message of messages; let i=index; trackBy: trackMessages">
          <app-message class="single-msg" [msgFromat]="message"></app-message>
        </ng-container>
      </section>
      <ng-template #ShowSpinner>
        <div class="messages-container spinner">
          <app-loading-spinner></app-loading-spinner>
        </div>
      </ng-template>
      <footer class="form-footer">
        <form #messageForm="ngForm" (ngSubmit)="onMessageSubmit(messageForm)">
          <div class="input-container">
            <input [(ngModel)]="msgContent" required name="message" id="message" autocomplete="off"  placeholder="send message" class="message-input">
            <button class="send-message-btn btn-flex" type="submit">
              <mat-icon class="send-icon">send</mat-icon>
            </button>
          </div>
        </form>
      </footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>