@use "src/global.scss" as global;

.chat-container {
  height: 100%;
  background-color: global.$backgroudColor;

}

.main-background-img {
  background-image: url('../../assets/images/doodles.png');
  background-position: center;
  background-size: 33% 28%;
  @media (max-width:640px) {
    background-size: 100%;
  }
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: global.$sendMessageFooterHeight;
  background-color: global.$headerBackroundColor;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
}

.message-input {
  width: 90%;
  border-radius: 5px;
  height: global.$messageInputHeight;
  font-family: 'Roboto';
  padding-left: 10px;
  box-sizing: border-box;
  @media (max-width: 640px) {
    width: 75%;
  }
}

.send-message-btn {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid gray;
  box-sizing: border-box;
  cursor: pointer;
  @media (max-width: 640px) {
    width: 2.5em;
    height: 2.5em;
  }
}

.btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.send-icon {
  font-size: 1.5em;
  @media (max-width: 640px) {
    font-size: 1.5em;
  }
}

.messages-container {
  height: calc(100% - (global.$headerHeight + global.$sendMessageFooterHeight));
  overflow-y: auto;
  transform: rotateZ(180deg);
}

.single-msg {
  //transform: rotate(-180deg);
}

::-webkit-scrollbar {
  display: none;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-top-indecator {
  display: none;
}

.sidenav {
  width: 30%;
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}