.chat-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: hsl(223, 49%, 19%);
  @media (min-width: 640px) {
    width: 80% ;
    background-color: transparent;
    z-index: 1;
  }
}

.main-background-img {
  background-image: url('../../assets/images/doodles.png');
  background-position: center;
  background-size: 50% 50%;
  @media (max-width:640px) {
    background-size: 100%;
  }
}

.form-footer {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  margin: 5px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
}

.message-input {
  width: 90%;
  border-radius: 5px;
  height: 20px;
  font-family: 'Roboto';
  padding-left: 10px;
  @media (max-width: 640px) {
    width: 75%;
    height: 30px;
  }
}

.send-message-btn {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid gray;
  box-sizing: border-box;
  @media (max-width: 640px) {
    width: 2.5em;
    height: 2.5em;
  }
}

.btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.send-icon {
  font-size: .9em;
  @media (max-width: 640px) {
    font-size: 1.5em;
  }
}

// @media screen and (min-width: 640px) {
//   .chat-container {
//     width: 50%;
//   }
// }

.messages-container {
  height: 87%;
  overflow-y: scroll;
  @media (max-width: 640px) {
    height: 83%;
  }
}

::-webkit-scrollbar {
  display: none;
}
