.chat-container {
  height: 100%;
  background-color: var(--prime-backgroud-color);

}

.main-background-img {
  background-image: url('../../assets/images/doodles.png');
  background-position: center;
  background-size: 33% 28%;
  @media (max-width:640px) {
    background-size: 100%;
  }
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--send-message-footer-height);
  background-color: var(--header-backround-color);
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  align-items: center;
}

.message-input {
  width: 92%;
  height: 36px;
  background-color: var(--prime-backgroud-color);
  padding-inline: 20px;
  font-size: 1.1rem;
  color: hsl(0, 0%, 86%);
  border: transparent;
  outline: transparent;
  box-sizing: border-box;
  border-radius: 10px;
  &::placeholder {
      color: hsl(0, 0%, 86%);
      font-size: 1.1rem;
      transition: color .5s ease-in-out;
  }

  &:focus::placeholder{
    color: transparent;
  }
}

.send-message-btn {
  background-color: transparent;
  box-shadow: none;
  border: transparent;
  cursor: pointer;
}

.btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.send-icon {
  font-size: 2em;
  overflow: visible;
  color: var(--prime-backgroud-color);
  @media (max-width: 640px) {
    font-size: 1.5em;
  }
}

.messages-container {
  height: calc(100% - (var(--header-height) + var(--send-message-footer-height)));
  padding: 1em;
  overflow-y: auto;
  box-sizing: border-box;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-top-indecator {
  display: none;
}

.sidenav {
  width: 35%;
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}