<header>
  <h4>{{ title }}</h4>
  <ng-container *ngIf="isChatOpen else Menu">
    <div class="back-btn">
      <mat-icon [matMenuTriggerFor]="chatMenu">more_vert</mat-icon>
      <mat-menu #chatMenu="matMenu" xPosition="before">
        <ng-container *ngFor="let option of menuOptions; let i=index">
          <button (click)="onMenuChange(i)" mat-menu-item [ngClass]="{chatMenuBackground: isChatOpen}">
            <mat-icon>{{option.icon}}</mat-icon>
            <span>{{option.title}}</span>
          </button>
        </ng-container>
      </mat-menu>
    </div>
  </ng-container>
  <ng-template #Menu>
    <div class="menu-options back-btn">
      <mat-icon [matMenuTriggerFor]="mainMenu">{{isMobile? 'more_vert': 'menu'}}</mat-icon>
      <mat-menu #mainMenu="matMenu">
        <ng-container *ngFor="let option of menuOptions;let i=index">
          <button (click)="onMenuChange(i)" mat-menu-item [ngClass]="{mainMenuBackground: !isChatOpen}">
            <mat-icon>{{option.icon}}</mat-icon>
            <span>{{option.title}}</span>
          </button>
        </ng-container>
      </mat-menu>
    </div>
  </ng-template>
</header>
