<ng-container [formGroup]="form">
    <div style="position: relative;" class="circle-img img">
      <ng-container *ngIf="type == 'group'">
        <label for="file" class="drop-container" [ngClass]="{'drop-container-init': imgToShow == undefined}" id="dropcontainer">
          <span class="drop-title" >Select Image</span>
          <input type="file"  id="file" placeholder="image" name="file" formControlName="image"
           autocomplete="off" accept="image/*" (change)="ProcessFile($event)" #fileInput/>
        </label>
      </ng-container>
        
      <app-show-image [imgToShow]="imgToShow" [type]="type" [size]="'150px'"></app-show-image>
    </div>
</ng-container>