.circle-img {
    width: var(--image-size);
    height: var(--image-size);
    margin: auto;
    border-radius: 50%;
  
    &:hover .drop-container {
      display: flex;
    }
}
  
.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#file {
    visibility: hidden;
    display: none;
}
    
.drop-container {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--image-size);
    width: var(--image-size);
    border-radius: 50%;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    box-sizing: border-box;
    z-index: 10;
    &:hover .drop-title {
        color: #444;
        display: inline;
    }
    &:hover {
        background: hsl(0, 0%, 63%);
        border-color: #111;
    }
}

.drop-title {
    color: white;
    font-size: 18px;
    text-align: center;
    transition: color .2s ease-in-out;
}

.drop-container-init {
    display: flex;
}