.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  overflow-y: clip;
}

.main-content-container {
  width: 93%; 
  height: 95%; 
  position: relative; 
  box-sizing: border-box;
  @media screen and (max-width: 600px) {
    width: 100%;
    height: 100%;
  }
}

.chat-content-view {
  width: 70%; 
  height: 100%; 
  background-color: var(--prime-backgroud-color); 
  float: right;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  border-left: 1px solid hsl(0, 0%, 19%);
  box-sizing: border-box;
}

.general-content-view {
  width: 30%; 
  height: 100%; 
  background-color: var(--prime-backgroud-color); 
  float: right;
  @media screen and (max-width: 600px) {
    display: none;
  }
  box-sizing: border-box;
}

:host ::ng-deep .mat-drawer-content{
  overflow: hidden !important;
}