.chats-list-container {
  position: absolute;
  width: 100%;
  margin: auto;
  //padding: 5px;
  box-sizing: border-box;
  z-index: 5;
  background-color: hsl(184, 70%, 34%);
  @media (min-width: 640px) {
    width: 100%;
    right: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0px;
    bottom: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


