<!-- <app-alert *ngIf="error"></app-alert> -->
<form class="form-container" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">

  <ng-container *ngFor="let formField of registrationFormFieldsStracture.GetChildrens()">
    <ng-container *ngIf="!formField.AsChildrens(); else nestedGroup">
      <app-dynamic-authform-input [form]="authForm" [formField]="formField"></app-dynamic-authform-input>
    </ng-container>
    <ng-template #nestedGroup>
      <ng-container *ngFor="let nestedChild of formField.GetChildrens()">
        <app-dynamic-authform-input [formGroupName]="formField.GetFieldValue('label')!" [form]="authForm" [formField]="nestedChild"></app-dynamic-authform-input>
      </ng-container>
    </ng-template>
  </ng-container>

  <div class='btn-container'>
    <button
    class="register-btn"
    type="submit"
    [disabled]="authForm.invalid && authForm.get('passform')?.invalid"
    mat-raised-button> Register </button>
  </div>
</form>
