<!-- <app-alert *ngIf="error"></app-alert> -->
<form class="form-container" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">

  <ng-container *ngFor="let formField of registrationFormFieldsStracture">
    <app-dynamic-authform-input [form]="authForm" [formField]="formField" ></app-dynamic-authform-input>
  </ng-container>

  <div class='btn-container'>
    <button
    class="register-btn"
    type="submit"
    [disabled]="authForm.invalid"
    mat-raised-button> Register </button>
  </div>
</form>
