<!-- <div class="chat-container main-background-img">
  <app-header></app-header>
  <p>chat works!</p>

  <footer>
    <form #message="ngForm" (ngSubmit)="onMessageSubmit(message)">
      <div class="input-container">
        <input type="text" placeholder="send message">
        <button type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </footer>
</div> -->

<body class="chat-container main-background-img">
  <app-header [title]="chatId"></app-header>
  <section>
    <ng-container *ngFor="let message of messages">
      <app-message [message]="message"></app-message>
    </ng-container>
  </section>
  <footer class="form-footer">
    <form #messageForm="ngForm" (ngSubmit)="onMessageSubmit(messageForm)">
      <div class="input-container">
        <input [(ngModel)]="message" required name="message" class="message-input" type="text" placeholder="send message">
        <button class="send-message-btn btn-flex" type="submit">
          <mat-icon class="send-icon">send</mat-icon>
        </button>
      </div>
    </form>
  </footer>
</body>
