<!-- <div class="chat-container main-background-img">
  <app-header></app-header>
  <p>chat works!</p>

  <footer>
    <form #message="ngForm" (ngSubmit)="onMessageSubmit(message)">
      <div class="input-container">
        <input type="text" placeholder="send message">
        <button type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </footer>
</div> -->

<body class="chat-container main-background-img">
  <app-header [relatedToRoute]="baseRoute" [title]="chatId"></app-header>
  <section class="messages-container">
    <ng-container *ngFor="let message of messages; let i=index;">
      <app-message [appFocus]="i" [Length]="messages.length -1" [msgFromat]="message"></app-message>
    </ng-container>
  </section>
  <footer class="form-footer">
    <form #messageForm="ngForm" (ngSubmit)="onMessageSubmit(messageForm)">
      <div class="input-container">
        <!-- <input [(ngModel)]="message" required name="message" class="message-input" type="text" placeholder="send message"> -->
        <textarea [(ngModel)]="msgContent" required name="message" id="message" cols="5" rows="10" placeholder="send message" class="message-input"></textarea>
        <button class="send-message-btn btn-flex" type="submit">
          <mat-icon class="send-icon">send</mat-icon>
        </button>
      </div>
    </form>
  </footer>
</body>
