<app-header [title]="'user Info'" [componentRef]="componentRef"></app-header>
<main class="userInfo-container">
    <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form)"
    *ngIf="!isLoading && chat else Loading">

      <header class="img-container">
          <app-select-image [form]="form"></app-select-image>

          <app-form-input 
          [form]="form" 
          [enableRadonly]="true"
          [placeholder]="'Name'" 
          [name]="'name'" 
          [formControlName]="'name'" 
          [label]="'Name'"></app-form-input>
      </header>

      <ul>
        <ng-container *ngFor="let user of listUsers; let i = index; trackBy: userTrackBy;">
          <app-list-item [listItem]="user" (onSelectedItem)="onSelectedUser($event)"></app-list-item>
        </ng-container>
      </ul>

      <div class='btn-container'>
        <button
        class="create-btn"
        type="submit"
        [disabled]="!form.valid"
        mat-raised-button> update Chat </button>
      </div>
    </form>
    <ng-template #Loading>
      <section class="spinner">
        <app-loading-spinner></app-loading-spinner>
      </section>
    </ng-template>

</main>