<div class="new-chat" style="background-image: url('/doodles.png');">
  <img src="/doodles.png" style="display: none;" alt="">
  <body class="container">
    <!-- <app-alert *ngIf="error"></app-alert> -->
    <header class="img-container">
      <ng-container *ngIf="selectedFile === undefined && !imgToShow else haveImg">
        <div style="background-image: url('/56.jpg');" class="cyrcle-img img">
          <img src="56.jpg" style="display: none;" alt="">
        </div>
      </ng-container>
      <ng-template #haveImg>
        <img
        [src]="Transform()"
        alt="Image Preview"
        class="image-preview"
        width="103" height="103">
      </ng-template>
    </header>
    <br>
  <form class="form-container"
  [formGroup]="chatForm"
  (ngSubmit)="onSubmit(chatForm)"
  *ngIf="!isLoading">

    <mat-form-field
    class="form-content"
    appearance="outline">
      <mat-label>Name</mat-label>
      <input
      matInput
      type="text"
      formControlName="name"
      placeholder="Name"
  >
    </mat-form-field>
    <br>

    <div class="load-img-container">
      <label class="file-label" for="file">Image</label>
      <input
      class="file-input"
      id="file"
      type="file"
      placeholder="image"
      formControlName="image"
      (change)="ProcessFile($event)"
      accept="image/*"
      #fileInput>
    </div>
    <br>
    <ng-container *ngIf="users && users.length > 0" class="form-array-container" formArrayName="users">
      <ng-container *ngFor="let user of users.controls; let i=index;">
        <ng-container [formGroupName]="i">
          <mat-form-field
          class="form-content"
          appearance="outline"
          *ngIf="i === users.controls.length -1"
          >
            <mat-label>Add User To Chat</mat-label>
            <input
            matInput
            type="text"
            formControlName="user"
            [matAutocomplete]="auto"
            placeholder="User Name"
            >
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
            <ng-container *ngFor="let user of this.filteredOptions[i] | async;let i=index">
              <mat-option [value]="user">
                {{user.name}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </ng-container>
      </ng-container>
    </ng-container>

    <div class="add-more-btn-container">
        <mat-icon class="add-icon" (click)="addUser()">add_circle</mat-icon>
    </div>

    <div *ngIf="users.length > 0">
      <div class="users-in-chat-list">
        <ng-container *ngFor="let user of users.controls; let i=index">
          <div *ngIf="user.value.user" class="in-chat in-chat-container">
            {{user.value.user.name}}
            <mat-icon class="close-icon" (click)="removeUser(i)">close</mat-icon>
          </div>
        </ng-container>
      </div>
    </div>

    <div class='btn-container'>
      <button
      class="create-btn"
      type="submit"
      [disabled]="!chatForm.valid"
      mat-raised-button> Create Chat </button>
    </div>
  </form>

  </body>

</div>
