<ng-container [formGroup]="form">
  <ng-container *ngIf="!subGroupName; else nested">
    <mat-form-field  class="form-content simpaleController" appearance="outline">
      <mat-label>{{label}} </mat-label>
      <input
      matInput
      [type]="type!"
      [formControlName]="name!"
      [placeholder]="label!"
      autocomplete="off"
      [name]="name!">
    </mat-form-field>
  </ng-container>
  <ng-template #nested>
      <ng-container [formGroupName]="subGroupName!">
        <mat-form-field class="form-content nestedController" appearance="outline">
        <mat-label>{{label}} </mat-label>
        <input
        matInput
        [type]="type!"
        [formControlName]="name!"
        [placeholder]="label!"
        autocomplete="off"
        [name]="name!">
      </mat-form-field>
      </ng-container>
  </ng-template>
</ng-container>
<br>
