:root {
  --search-input-container-height: 58px;

  --header-backround-color: hsl(0, 0%, 32%);


  --prime-backgroud-color: hsl(0, 0%, 15%);
  --secondary-background-color: hsl(0, 0%, 24%);
}

/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
