.chat-contaienr {
  display: grid;
  grid-template-columns: repeat(12,1fr);  
  height: 55px;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

}

.groups-content {
  border-bottom: 1px solid hsl(0, 0%, 21%);
  box-sizing: border-box;
  display: grid;
  grid-area: 1/3;
  grid-column: 2/13;
}

@media screen and (min-width: 640px) {
  .chat-contaienr:hover {
    background-color: hsl(0, 0%, 26%);
  }
}

.chat-name {
  position: relative;
  grid-row: 1;
  color: hsl(0, 0%, 86%);
  margin: 0;
  font-weight: 400;
}

.new-masgs-counter-badge {
  position: absolute;
  top: -6px;
  right: 23px;
  width: 18px;
  height: 18px;
  background: hsl(0, 0%, 36%);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count {
  color: hsl(0, 0%, 72%);
  font-size: 14px;
}

.msg {
  grid-row: 2;
  font-size: 14px;
  margin: 0;
  color: #f1f1f1;
  font-weight: bolder;
}

.msg-header {
  grid-row: 1;
  grid-column: 1/3;
}

.time {
  grid-row: 1;
  font-size: 13px;
  color: #f1f1f1;
  margin: 0;
}

.last-msg-color {
  color: hsl(0, 0%, 72%);
  font-weight: lighter;
}

.chat-img-container {
  grid-row: 1;
  grid-column: 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin: auto;
  box-sizing: border-box;
}

.group1 {
  display: inherit;
  grid-row: 1/3;
  grid-column: 1/11;
  box-sizing: border-box;
}

.group2 {
  display: inherit;
  grid-row: 1/3;
  grid-column: 11/13;
  margin: 0 8px;
  text-align: end;
}

.item1 {
  height: 24px;
  line-height: 36px;
}

.item2 {
  height: 23px;
  line-height: 23px;
}

.chat-name, .item2 {
  white-space: nowrap;
  overflow-x: clip;
  container-type: inline-size;
  text-overflow: ellipsis;
}

.remove-border {
  border: transparent;
}

.chatItemMenu {
  display: none;
  grid-row: 2;
}

:host ::ng-deep .chat-img-container{
  .material-icons {
    font-size: 45px !important;
  }

  .mat-icon {
    width: 45px !important;
    height: 45px !important;
    color: hsl(0, 0%, 36%) !important;
  }
}

