.input-container {
    width: 100%;
    height: var(--search-input-container-height);
    padding: 13px 10px;
    box-sizing: border-box;
    &:focus-within {
        border: 1px solid red;
    }
}

.input-content {
    display: flex;
    align-items: center;
    height: 33px;
    background-color: hsl(0, 0%, 35%);
    border-radius: 10px;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding-inline-start: 15px;
    padding-inline-end: 25px;
    background: transparent;
    border: transparent;
    outline: transparent;
    box-sizing: border-box;
}


:host .mat-icon {
    color: hsl(0, 0%, 86%);
}

input.search {
    width: 100%;
    background-color: inherit;
    padding-inline-end: 20px;
    font-size: 1.1rem;
    color: hsl(0, 0%, 86%);
    border: transparent;
    outline: transparent;
    box-sizing: border-box;
    border-radius: 10px;
    &::placeholder {
        color: hsl(0, 0%, 86%);
        font-size: 1.1rem;
        transition: color .5s ease-in-out;
    }

    &:focus::placeholder{
      color: transparent;
    }
}
