.message-style-container {
  position: relative;
  margin-top: 10px;
  min-height: 35px;
}

.triangle {
  position: absolute;
  left: 0px;
  top: 1px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 23px solid transparent;
  border-right: 30px solid hsl(42, 57%, 58%);
  border-left: 1px solid transparent;
}

.message-container {
  position: absolute;
  left: 12px;
  top: 1px;
  display: flex;
  flex-direction: column;
  background-color: hsl(42, 57%, 58%);
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 90px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 7px;
  height: 10px;
  margin: 2px 4px;
}

.message-content {
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  margin: 0 10px 0 5px;
}
