.message-style-container {
  position: relative;
  margin-top: 15px;
  min-height: 35px;
  max-width: 50%;
  transform: rotateZ(180deg);
  @media (max-width: 640px) {
    margin-top: 10px;
    min-height: 45px;
    max-width: 85%;
  }
}

.triangle {
  position: absolute;
  left: 0px;
  top: 1px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 23px solid transparent;
  border-right: 30px solid hsl(42, 57%, 58%);
  border-left: 1px solid transparent;
}

.currentUser-triangle {
  left: unset;
  right: 0px;
  border-top: 23px solid hsl(198, 57%, 58%);
  border-bottom: 0 solid transparent;
  border-right: 30px solid transparent;
  border-left: 11px solid transparent;
}

.message-container {
  position: absolute;
  left: 12px;
  top: 1px;
  display: flex;
  flex-direction: column;
  background-color: hsl(42, 57%, 58%);
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 20%;
  @media (max-width: 640px) {
    min-width: 45%;
  }
}

.currentUser {
  left: unset;
  right: 12px;
  background-color: hsl(198, 57%, 58%);
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 7px;
  margin: 2px 5px 2px 10px;
}

.currentUser-message-header {
  flex-direction: row-reverse;
  margin: 2px 10px 2px 5px;
}

.message-content {
  display: flex;
  justify-content: flex-start;
  font-size: 110%;
  margin: 0 10px 0 5px;
}

.currentUser-message-content {
  direction: ltr;
}

.header-content {
  font-size: 170%;
  font-weight: 600;
}
